<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Contact Us</title>
        <link rel="stylesheet" href="/static/css/contact.css">
        <!-- Google Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
        <!-- Google Font -->
        <link rel="shortcut icon" href="/static/images/operator.png" type="image/x-icon">
    </head>
    <body>
        <!-- Contact Us Section -->
        <div class="contact-container">
            <form action="https://api.web3forms.com/submit" method="POST" class="contact-left">
                <div class="contact-left-title">
                    <h2>Get in touch</h2>
                    <hr>
                </div>
                <input type="hidden" name="access_key" value="ceb17528-2232-47e4-9b93-3243dffce2fc">
                <input
                    type="text"
                    name="name"
                    placeholder="Your Name"
                    class="contact-inputs"
                    required
                >
                <input
                    type="text"
                    name="name"
                    placeholder="Your Email"
                    class="contact-inputs"
                    required
                >
                <textarea name="message" placeholder="Your Message" class="contact-inputs"></textarea>
                <button type="submit">
                    Submit
                    <img src="/static/images/arrow_icon.png" alt="">
                </button>
            </form>
            <div class="contact-right">
                <img src="/static/images/Organic-img.jpg" alt="">
            </div>
        </div>
        <div class="go-back">
            <a href=".." class="back">Go Back</a>
        </div>
        <!-- Contact Us Section -->
    </body>
</html>
